/* ATMMachine.css */
.atm-machine {
  border: 2px solid #333;
  background-color: #f4f4f4;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
}

.screen {
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 18px;
}
.key.btn-transfer {
  background-color: #ff4500; /* Button color for btn-transfer */
  color: #fff; /* Text color for btn-transfer */
}


.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.key {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #0056b3;
}

.input-group {
  margin-bottom: 15px;
}

