.all-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* history.css */

/* Add the black-text class to set text color to black */
.black-text {
  color: #000; /* Black color code */
}

/* Customize other styles as needed */
