/* Add your custom CSS styles here */

/* Center the app title */
.app-title {
    font-size: 36px;
    color: #333; /* Customize the color */
    margin-bottom: 20px;
  }
  
  /* Style the black button */
  .btn-black {
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    border: none;
  }
  
  /* Center align the form elements */
  .form-label,
  .form-control {
    text-align: left; /* Adjust the alignment as needed */
  }
  
  /* Add any additional styling as needed */
  